# OS
.DS_Store
Thumbs.db

# Editors and IDEs
.idea
*.sublime*
.vscode

# Helping stuff
*.log
npm-debug.log*
node_modules/

# Transpiled code
build/

# Local config files
.env

# Data directory and an exception for .gitkeep
data/*
!data/.gitkeep

# Python interpreter
venv