body {
  font-family: sans-serif;
}

.visibilityHidden {
  visibility: hidden;
}

.no-data {
  fill: lightgrey;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-tabs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tab {
  width: 114px;
  height: 45px;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  user-select: none;
}

.tab--selected {
  border-bottom: 3px solid orangered;
  color: orangered;
}

.tab:hover {
  border-bottom: 3px solid orangered;
  color: orangered;
}

.tab:active {
  border-bottom: 3px solid #ffc500;
  color: #ffc500;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 1700px;
  height: 640px;
  padding-top: 20px;
  box-sizing: border-box;
}

.zero-axis {
  stroke-width: 2px;
  stroke: rgb(152,152,152);
}

.bar-rect {
  stroke-width: 2px;
}

.bar-rect--positive {
  fill: orange;
  fill-opacity: 0.5;
  stroke: darkorange;
}

.bar-rect--positive:hover {
  fill: orangered;
}

.bar-rect--negative {
  fill: red;
  fill-opacity: 0.7;
  stroke: rgb(250,128,114);
}

.bar-rect--negative:hover {
  fill: darkred;
}

.bar-text {
  font-size: 10px;
  fill: grey;
  text-align: center;
}
