body {
  font-family: sans-serif;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 1700px;
  height: 640px;
  padding-top: 20px;
  box-sizing: border-box;
}
